@import "base/reset";
@import "base/mixin";
@icons-container-height:500px;
@icons-container-width:600px;
.title-bar {
  .tc();
  font-size: 48px;
  padding-top: 30px;
  //-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(8,198,168,1)), to(rgba(4,157,131,1)));
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 231, 196, 1)), to(rgba(0, 162, 137, 1)));
  -webkit-background-clip: text; /*只有webkit内核支持text的剪切模式*/
  color: transparent;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  //.mt(50px);
  //.bd();
  .left-navi {
    .dib();
    width: 150px;
    height: 100%;
    .pt(20px);
    li {
      margin: 20px 0;
      .right-line {
        .dib();
        color: @theme-color;
        //writing-mode: lr-tb;
        font-size: 22px;
        .mr(10px);
      }
    }
  }
  //left-navi

  .icons-container {
    .dib();
    position: relative;
    width: 600px;
    height: 500px;
    background: url('img/main-container.svg') no-repeat;
    vertical-align: top;
    .ml(15px);

    ul {
      color: @theme-color;
      font-size: 24px;
      line-height: 135px;
      text-align: center;
      li {
        .dib();
        width: 160px;
        span {
          padding: 30px 20px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .first-line {
      .mt(50px);
    }
    .second-line {
      .mt(10px);

    }
    .third-line {
    }


    .left-pointer,.right-pointer{
      color:@theme-color;
      //width: 20px;
      font-size: 52px;
      height: 300px;
      position: absolute;
      line-height: 300px;
      vertical-align: middle;
      top:100px;
      &:hover{
        cursor: pointer;
        background: rgba(255,255,255,0.2);
      }
    }
    .left-pointer{
      left:25px;
    }
    .right-pointer{
      right: 25px;
    }
  }

  .icons-container-pop {
    //.dib();
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 600px;
    margin-left: -300px;
    margin-top: -300px;
    border-radius: 15%;
    background: rgba(204,204,204,0.8);
    border: 4px solid @theme-color;
    z-index: 1010;
    display: none;
    .box {
      overflow: auto;
      position: relative;
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      padding: 40px;
      .wrap{
        .dib();
        width:100px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        &:hover{
          cursor:pointer;
          //background: rgba(0,0,0,0.2);
        }
      }
      .inner-icon {
        .dib();
        width: 50px;
        height: 50px;
        background: #ffbbbb;
        border: 1px solid #ff0011;
        -webkit-border-radius: 10%;
        -moz-border-radius: 10%;
        border-radius: 10%;
      }
      p.title{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }


    }    .inner-cell, .t_l, .t_m, .t_r, .b_l, .b_m, .b_r, .m_l, .m_r {
           //position: absolute;
           z-index: 2;
           .dib();
           width: 100px;
           height: 100px;
           text-align: center;
           padding: 10px;
         }
  }

  .right-area {
    .dib();
    width: 420px;
    height: 465px;
    background: url('img/info-frame.svg') no-repeat;
    vertical-align: top;
    .ml(5px);
    .mt(30px);
    li {
      color: @theme-color;
      font-size: 22px;
    }
    .login-area {
      margin: 0 auto;
      width: 300px;
      .mt(70px);

      li {
        margin: 40px 0;
        .title {
          .dib();
          width: 70px;
          margin-right: 10px;
        }
        .input-line {
          color: @theme-color;
          width: 180px;
          height: 40px;
          border: none;
          padding: 15px;
          box-sizing: border-box;
          vertical-align: middle;
          background: url('img/input-icon.svg') no-repeat;

        }
        .error-info {
          color: #ff0011;
          text-align: center;
        }
        p {
          text-align: center;
          margin: 20px 0;
        }
      }
    }
    .info-area {
      .right-side-bar {
        position: absolute;
        right: -20px;
        top: 90px;
      }

      .info-container {
        width: 400px;
        font-size: inherit;
        margin: 0 auto;
        ul {
          width: 330px;
          font-size: inherit;
          margin: 0 auto;
          .ml(50px);
          .mt(70px);
          li {
            margin: 20px 0;
            .title {
              width: 120px;
            }
          }
        }

      }
      .task-content {
        font-size: inherit;
        color: @theme-color;
        .status {
          .ml(25px);
          .mt(20px);
        }
        .running, .finished {
          ul {
            height: 180px;
            //width: 330px;
            overflow: auto;
            .mt(0px);
            li {
              margin: 10px 0;
            }
          }
        }
      }

      .btn-area {
        .mt(80px);
        text-align: center;
        button {
          margin: 10px;
        }
      }

    }
    .logout {
      position: absolute;
      right: 40px;
      top: -25px;
    }

  }

  .appli-icon {
    .dib();
    width: 100px;
    height: 100px;
    background: url('img/apli-icon.svg') no-repeat;
  }
  .sys-icon {
    .dib();
    width: 100px;
    height: 100px;
    background: url('img/sys-icon.svg') no-repeat;
  }
  .tech-icon {
    .dib();
    width: 100px;
    height: 100px;
    background: url('img/tech-icon.svg') no-repeat;
  }

  .right-side-btn {
    .dib();
    width: 45px;
    height: 100px;
    background: url('img/right-side-btn.svg') no-repeat;
    border: none;
    color: @theme-color;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    padding-top: 8px;
    &:hover {
      cursor: pointer;
      color: #fff;
      background: url('img/right-side-btn-hover.svg') no-repeat;
    }

  }
  .right-side-btn.current {
    color: #fff;
    background: url('img/right-side-btn-hover.svg') no-repeat;
  }
}

.white_overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  //background-color: rgba(255,255,255,0.6);
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1001;
  //-moz-opacity: 0.6;
  //opacity: .60;
  //filter: alpha(opacity=60);
}
