body {
  font: 14px/1.42858 'microsoft yahei', arial, sans-serif;
  background-color: #edf0f5;
  color: #545a6c;
}
:focus {
  outline: none;
}
h4,
h3,
h2,
h1,
h5,
h6 {
  font-size: 100%;
  margin: 0;
  font-weight: 400;
}
body,
form,
ul,
ol,
dl,
dd,
p {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  padding: 0;
}
img {
  border: none;
  vertical-align: bottom;
}
button,
input,
select,
textarea {
  font-size: 1em;
  margin: 0;
  padding: 0;
  font-family: arial, 'microsoft yahei', sans-serif;
}
select {
  opacity: 0;
  filter: alpha(opacity=0);
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
table {
  border-spacing: 0;
  table-layout: fixed;
}
/*禁用ie下文本框后面的X*/
input::-ms-clear {
  display: none;
}
input[type=search] {
  -webkit-appearance: none;
}
/**
 *
 * @variable.less
 * @author libin
 * @create 15-09-06
 */
/*
 *
 * @mixin.less
 * @author libin
 * @create 15-09-06
 */
.hidden {
  display: none!important;
}
body {
  background: url('img/bg.png') no-repeat center center fixed;
  background-size: cover;
  overflow: auto;
  font-size: 16px;
}
.header-deco {
  background: url("img/header.png") no-repeat;
  margin: 1px auto;
  width: 1200px;
  height: 137px;
  padding-bottom: 40px;
}
.purple-btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 110px;
  height: 46px;
  line-height: 45px;
  vertical-align: middle;
  text-align: center;
  background: url('img/login-btn-icon.svg') no-repeat;
  border: none;
  color: #fff;
  font-size: 20px;
}
.purple-btn:hover {
  cursor: pointer;
  background: url('img/login-btn-highlight.svg') no-repeat;
}
.horizon-tab-btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 110px;
  height: 46px;
  background: url('img/horizon-btn.svg') no-repeat;
  border: none;
  line-height: 45px;
  vertical-align: middle;
  text-align: center;
  color: #00d8b9;
  font-size: 20px;
}
.horizon-tab-btn:hover {
  cursor: pointer;
  color: #fff;
  background: url('img/horizon-btn-hover.svg') no-repeat;
}
.horizon-tab-btn .active {
  color: #fff;
  cursor: default;
  background: url('img/horizon-btn-hover.svg') no-repeat;
}
.title-bar {
  text-align: center;
  font-size: 48px;
  padding-top: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#00e7c4), to(#00a289));
  -webkit-background-clip: text;
  /*只有webkit内核支持text的剪切模式*/
  color: transparent;
}
.main-container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.main-container .left-navi {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 150px;
  height: 100%;
  padding-top: 20px;
}
.main-container .left-navi li {
  margin: 20px 0;
}
.main-container .left-navi li .right-line {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  color: #00d8b9;
  font-size: 22px;
  margin-right: 10px;
}
.main-container .left-navi li:hover {
  cursor: pointer;
}
.main-container .icons-container {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
  width: 600px;
  height: 500px;
  background: url('img/main-container.svg') no-repeat;
  vertical-align: top;
  margin-left: 15px;
}
.main-container .icons-container ul {
  color: #00d8b9;
  font-size: 24px;
  line-height: 135px;
  text-align: center;
}
.main-container .icons-container ul li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 160px;
}
.main-container .icons-container ul li span {
  padding: 30px 20px;
}
.main-container .icons-container ul li span:hover {
  cursor: pointer;
}
.main-container .icons-container .first-line {
  margin-top: 50px;
}
.main-container .icons-container .second-line {
  margin-top: 10px;
}
.main-container .icons-container .left-pointer,
.main-container .icons-container .right-pointer {
  color: #00d8b9;
  font-size: 52px;
  height: 300px;
  position: absolute;
  line-height: 300px;
  vertical-align: middle;
  top: 100px;
  opacity: 0.4;
}
.main-container .icons-container .left-pointer:hover,
.main-container .icons-container .right-pointer:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  opacity: 0.8;
  -webkit-transition: opacity 200ms ease-in-out;
  -moz-transition: opacity 200ms ease-in-out;
  -ms-transition: opacity 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}
.main-container .icons-container .left-pointer {
  left: 25px;
}
.main-container .icons-container .right-pointer {
  right: 25px;
}
.main-container .icons-container-pop {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 600px;
  margin-left: -300px;
  margin-top: -300px;
  border-radius: 15%;
  background: rgba(204, 204, 204, 0.8);
  border: 4px solid #00d8b9;
  z-index: 1010;
  display: none;
}
.main-container .icons-container-pop .box {
  overflow: auto;
  position: relative;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 40px;
}
.main-container .icons-container-pop .box .wrap {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main-container .icons-container-pop .box .wrap:hover {
  cursor: pointer;
}
.main-container .icons-container-pop .box .inner-icon {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 50px;
  height: 50px;
  background: #47E0C2;
  border: 1px solid #C8FBF4;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  border-radius: 10%;
}
.main-container .icons-container-pop .box p.title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main-container .icons-container-pop .inner-cell,
.main-container .icons-container-pop .t_l,
.main-container .icons-container-pop .t_m,
.main-container .icons-container-pop .t_r,
.main-container .icons-container-pop .b_l,
.main-container .icons-container-pop .b_m,
.main-container .icons-container-pop .b_r,
.main-container .icons-container-pop .m_l,
.main-container .icons-container-pop .m_r {
  z-index: 2;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 10px;
}
.main-container .right-area {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 420px;
  height: 465px;
  background: url('img/info-frame.svg') no-repeat;
  vertical-align: top;
  margin-left: 5px;
  margin-top: 30px;
}
.main-container .right-area li {
  color: #00d8b9;
  font-size: 22px;
}
.main-container .right-area .login-area {
  margin: 0 auto;
  width: 300px;
  margin-top: 70px;
}
.main-container .right-area .login-area li {
  margin: 40px 0;
}
.main-container .right-area .login-area li .title {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 70px;
  margin-right: 10px;
}
.main-container .right-area .login-area li .input-line {
  color: #00d8b9;
  width: 180px;
  height: 40px;
  border: none;
  padding: 15px;
  box-sizing: border-box;
  vertical-align: middle;
  background: url('img/input-icon.svg') no-repeat;
}
.main-container .right-area .login-area li .error-info {
  color: #ff0011;
  text-align: center;
}
.main-container .right-area .login-area li p {
  text-align: center;
  margin: 20px 0;
}
.main-container .right-area .info-area .right-side-bar {
  position: absolute;
  right: -20px;
  top: 90px;
}
.main-container .right-area .info-area .info-container {
  width: 400px;
  font-size: inherit;
  margin: 0 auto;
}
.main-container .right-area .info-area .info-container ul {
  width: 330px;
  font-size: inherit;
  margin: 0 auto;
  margin-left: 50px;
  margin-top: 70px;
}
.main-container .right-area .info-area .info-container ul li {
  margin: 20px 0;
}
.main-container .right-area .info-area .info-container ul li .title {
  width: 120px;
}
.main-container .right-area .info-area .task-content {
  font-size: inherit;
  color: #00d8b9;
}
.main-container .right-area .info-area .task-content .status {
  margin-left: 25px;
  margin-top: 20px;
}
.main-container .right-area .info-area .task-content .running ul,
.main-container .right-area .info-area .task-content .finished ul {
  height: 180px;
  overflow: auto;
  margin-top: 0px;
}
.main-container .right-area .info-area .task-content .running ul li,
.main-container .right-area .info-area .task-content .finished ul li {
  margin: 10px 0;
}
.main-container .right-area .info-area .btn-area {
  margin-top: 80px;
  text-align: center;
}
.main-container .right-area .info-area .btn-area button {
  margin: 10px;
}
.main-container .right-area .logout {
  position: absolute;
  right: 40px;
  top: -25px;
}
.main-container .appli-icon {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 100px;
  height: 100px;
  background: url('img/apli-icon.svg') no-repeat;
}
.main-container .sys-icon {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 100px;
  height: 100px;
  background: url('img/sys-icon.svg') no-repeat;
}
.main-container .tech-icon {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 100px;
  height: 100px;
  background: url('img/tech-icon.svg') no-repeat;
}
.main-container .right-side-btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 45px;
  height: 100px;
  background: url('img/right-side-btn.svg') no-repeat;
  border: none;
  color: #00d8b9;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  padding-top: 8px;
}
.main-container .right-side-btn:hover {
  cursor: pointer;
  color: #fff;
  background: url('img/right-side-btn-hover.svg') no-repeat;
}
.main-container .right-side-btn.current {
  color: #fff;
  background: url('img/right-side-btn-hover.svg') no-repeat;
}
.white_overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1001;
}
